body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(183, 186, 181);
  font-family: Arial, sans-serif;
}

.google button {
  padding: 15px 25px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.google button:hover {
  background-color: rgb(42, 43, 44);
}

@media (max-width: 600px) {
  .google button {
    padding: 12px 20px;
    font-size: 14px;
  }
}
